body {
    margin: 0px;
    background-image: url(./img/bg1.jpg);
}
.corpo {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}